assemblyai==0.26.0
cloudinary
Django==5.0.6
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-generativeai==0.5.4
googleapis-common-protos==1.63.0
gunicorn
httpx==0.27.0
psycopg2-binary==2.9.9
python-dotenv
requests==2.31.0
