<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ summary_detail.summary_title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans antialiased">

    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex flex-wrap items-center justify-between">
        <div class="flex-1">
            <h1 class="text-3xl font-bold">Lecture To Summary</h1>
        </div>
        <div class="flex-1 text-center md:text-right">
            <a href="/" class="block text-white hover:underline my-1 md:my-0">Welcome, {{ user.username }}</a>
            <a href="/summary-list" class="block text-white hover:underline my-1 md:my-0">Saved Summaries</a>
            <a href="/logout" class="block text-white hover:underline my-1 md:my-0">Logout</a>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">

            <section>
                <h2 class="text-xl mb-4 font-semibold">Summary Details</h2>
                <div class="border border-gray-300 p-4 rounded-lg">
                    <h3 class="text-lg font-semibold">{{ summary_detail.summary_title }}</h3>
                    <p class="text-gray-700" id="summaryContent">{{ summary_detail.generated_content }}</p>
                    <hr class="my-4 border-gray-300">
                    <a href="/delete-summary/{{ summary_detail.id }}" class="text-red-600 hover:underline">Delete Summary</a>
                </div>
            </section>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const summaryContent = document.getElementById('summaryContent');

            if (summaryContent) {
                const formattedContent = summaryContent.innerHTML.replace(/\n{2,}/g, "<br>").replace(/\n/g, " ").replace(/\*\*(.*?)\*\*/g, "<b>$1</b>");
                summaryContent.innerHTML = formattedContent;
            }
        })
    </script>
</body>
</html>
